rss.json
{
  "name": "rss",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "09772968-7e81-4216-8294-1a3c7e088d43",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://diolinux.com.br/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        -48
      ],
      "id": "a5211b17-1d74-4135-b23e-69e3f8c12cd6",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        -48
      ],
      "id": "217a08f9-377c-4a3c-b507-d12590d03a26",
      "name": "Limit"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=\n{{ $json.title }}:\n{{ $json.link }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1104,
        112
      ],
      "id": "12639ae1-2193-4680-9fd7-b1ee93ac6aba",
      "name": "Discord",
      "webhookId": "f25118b3-c6dc-4c39-8c55-a0170176f449",
      "credentials": {
        "discordWebhookApi": {
          "id": "4eUa2XzRpBOouw1z",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        224
      ],
      "id": "10a29123-a3e3-486d-82a4-17e99f27879d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "346f0182-eb8f-4c1a-befd-240dc2be391c",
              "name": "youtube_id",
              "value": "[\"UCEf5U1dB5a2e2S-XUlnhxSA\", \"UC629vKGFPRc1rz6VDm6OZiQ\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        240
      ],
      "id": "e459bd78-4c7c-462d-a820-dcf300031149",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.youtube_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        432,
        240
      ],
      "id": "d6e54036-bada-4c02-9247-01c55959c5ba",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "youtube_id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        240
      ],
      "id": "10cba8e6-9f40-47c5-b2f6-5edf16d88cf2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        640,
        240
      ],
      "id": "abfc0994-7009-4ba5-a88b-b9090d88f445",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        112
      ],
      "id": "592d11cc-c626-4853-87f6-d0d5e927141d",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5c4af1ac-db4a-41be-bfad-37f40ff8b171",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24fbbbf363a8a9190a5ac56c1dc7d0721b01e304130fadf6839f035f3cc8c813"
  },
  "id": "GP-Oue4UOhMKDyYGRfcAb",
  "tags": []
}